<p>Welcome back <strong data-bind="text: current_user.name"></strong>! Please select a date below to begin registering your activities in the gym.</p>

<div class="calendar" data-bind="event: { scroll: calendarScrollHandler }">
  <ul data-bind="foreach: calendar, style: { width: calendar().length * 122 + 'px' }">
    <li data-bind="css: { active: $data.active }">
      <a data-bind="text: $data.format('MM/DD/YYYY'), attr: { href: '#/calendar/' + $data.format('YYYY-MM-DD') }"></a>
    </li>
  </ul>
</div>

<a href="#" class="button" data-bind="visible: showBackToTodayButton, click: backToToday">&larr; Back to today...</a>
